#map {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div#inputDiv {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
  width: 500px;
}
