
<div id="about" class="pad-section">
  <div class="container">
    <div id="about-text" class="row text-center">
      <div class="columns col-sm-4 col-xs-6">
        <img class="icons" src="/images/icons/car-4-64.png" alt="">
        <p>Select your origin and destination.</p>
      </div>
      <div class="columns col-sm-4 col-xs-6">
        <img class="icons" src="/images/icons/marker-64.png" alt="">
        <p>Click the map to set a stop on your route. <br> To remove, click the icon.</p>
      </div>
      <div class="columns col-sm-4 col-xs-6">
        <img class="icons" src="/images/icons/add-list-64.png" alt="">
        <p>Browse dining and activities within 5 miles of a stop. <br> Add them to your itinerary.</p>
      </div>
    </div>
  </div>
</div>
