<div id="activities_modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="container" id="marker_container">
        <div id="about-text" class="row text-center">
      <div class="columns col-sm-4 col-xs-6">
        <img class="icons" src="/images/icons/restaurant-64.png" alt="" onclick="reataurantToggle()">
        <p>Dining</p>
      </div>
      <div class="columns col-sm-4 col-xs-6">
        <img class="icons" src="/images/icons/shopping-bag-64.png" alt="" onclick="shoppingToggle()">
        <p>Shopping</p>
      </div>
      <div class="columns col-sm-4 col-xs-6">
        <img class="icons" src="/images/icons/sun-3-64.png" alt="">
        <p>Recreation</p>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>
