<div id="activities_modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="container" id="marker_container">
        <div id="about-text" class="row text-center">
      <div class="columns col-sm-4 col-xs-6">
        <img class="icons" src="/images/car-4-64.png" alt="" onclick="reataurantToggle()">
        <p>Restaurant</p>
      </div>
      <div class="columns col-sm-4 col-xs-6">
        <img class="icons" src="/images/marker-64.png" alt="">
        <p>Family</p>
      </div>
      <div class="columns col-sm-4 col-xs-6">
        <img class="icons" src="/images/add-list-64.png" alt="">
        <p>Shopping</p>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>
