<div id="confrimAdd" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <center><h3>Are you sure you want to add this item to your itinerary?</h3></center>
          <hr>
      <center>  <button onclick="addActivity" class="btn btn-success" style= margin-right:250px>Submit</button>
          <button class="btn btn-danger">Cancel</button></center
    </div>
  </div>
</div>
