<div id="confirm_modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <h3>Are you sure you want to add this item to your itinerary?</h3>
      <hr>
      <button onclick="doAddAct()" class="btn btn-success" >Submit</button>
      <button class="btn btn-danger">Cancel</button>
    </div>
  </div>
</div>
