<section class="show" id="restaurant_page">
  <div class="row" id="restaurant_partial">
    <div class="container col-md-3" id="restaurant_filter">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Cursine
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">American</li>
                <li class="list-group-item">Brazilian</li>
                <li class="list-group-item">Chinese</li>
                <li class="list-group-item">French</li>
                <li class="list-group-item">Italian</li>
                <li class="list-group-item">Japanese</li>
                <li class="list-group-item">Korean</li>
                <li class="list-group-item">Mexican</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Price
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <select class="js-example-basic-multiple" multiple="multiple">
              <option value=1>$</option>
              <option value=2>$$</option>
              <option value=3>$$$</option>
              <option value=4>$$$$</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="container col-md-8" id="restaurant_list">
      <div class="list-group">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">...</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">...</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">...</p>
        </a>
      </div>
    </div>
  </div>
</section>
