<section class="show" id="restaurant_page">
  <div class="row" id="restaurant_partial">
    <div class="container col-md-3" id="restaurant_filter">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Cursine
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">American</li>
                <li class="list-group-item">Brazilian</li>
                <li class="list-group-item">Chinese</li>
                <li class="list-group-item">French</li>
                <li class="list-group-item">Italian</li>
                <li class="list-group-item">Japanese</li>
                <li class="list-group-item">Korean</li>
                <li class="list-group-item">Mexican</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Price
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <select id="price_selection" class="js-example-basic-multiple form-control" multiple="multiple">
                <option value=1>$</option>
                <option value=2>$$</option>
                <option value=3>$$$</option>
                <option value=4>$$$$</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container col-lg-8 pre-scrollable" id="restaurant_list">
      <div class="list-group">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading1</h4>
          <p class="list-group-item-text">...</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading2</h4>
          <p class="list-group-item-text">...</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading3</h4>
          <p class="list-group-item-text">...</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading4</h4>
          <p class="list-group-item-text">...</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading5</h4>
          <p class="list-group-item-text">...</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading6</h4>
          <p class="list-group-item-text">...</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading7</h4>
          <p class="list-group-item-text">...</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading8</h4>
          <p class="list-group-item-text">...</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading9</h4>
          <p class="list-group-item-text">...</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading10</h4>
          <p class="list-group-item-text">...</p>
        </a>
      </div>
        <nav aria-label="Page navigation" id="restaurant_page_nav" class="center-block">
          <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li class=""><a href="#">2<span class="sr-only">(current)</span></a></li>
            <li class=""><a href="#">3<span class="sr-only">(current)</span></a></li>
            <li class=""><a href="#">4<span class="sr-only">(current)</span></a></li>
            <li class=""><a href="#">5<span class="sr-only">(current)</span></a></li>
            <li class=""><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
          </ul>
        </nav>
    </div>
  </div>
</section>
