<div class="row" id="route_partial">
  <div class="col-md-8" id="map_container">
    <div id="map"></div>
  </div>
  <div class="col-md-6" id="info_container">
    <div id="route_info">
  </div>
</div>
