<section class="show" id="restaurant_page">
  <div class="row parallax" id="route_partial">
    <div class="col-md-8" id="map_container">
      <div id="map"></div>
    </div>
    <div class="col-md-6" id="info_container">
      <div id="route_info">
        <div class="well">
          <table class="table">
            <tr>
              <td>Start location:</td>
              <td id="start_loc"></td>
            </tr>
            <tr>
              <td>End Location:</td>
              <td id="end_loc"></td>
            </tr>
            <tr>
              <td>Total milage: </td>
              <td id="cell_milage"></td>
            </tr>
            <tr>
              <td>Duration: </td>
              <td id="cell_duration"></td>
            </tr>
            <tr></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
