<% if (user) { %>

<div id="start" class="pad-section">
  <div id="inputDiv" class="container">
    <div id="origin-row" class="row">
      <label class="col-sm-4">Origin:</label>
      <input class="col-md-4" type="text" id="origin">
    </div>
    <div id="destination-row" class="row">
      <label class="col-sm-4">Destination:</label>
      <input type="text" class="col-md-4" id="dest">
    </div>
    <div id="destination-row" class="row">
      <label id="dt-label" class="col-sm-4">Date:</label>
      <input type="date" class="col-md-4" id="dt-picker">
      <a href="#restaurant_page"><button type="button" onclick="renderAllTrips()" class="btn btn-lg btn-outline-secondary" id="goBtn">Go</button></a>
    </div>
  </div>
</div>

<% } %>
