<% if (user) { %>

<div id="trips" class="pad-section">
  <div class="container">
    <h2 id="trips-header">My Trips</h2>
    <table id="trips-table" class="table">
        <tbody id="trips-body">
        </tbody>
    </table>
  </div>
  <footer>
    <div class="container">
  <div class="row">
  <hr>
    <div class="col-lg-12">
      <div class="col-md-8">
        <a href="#">Terms of Service</a> | <a href="#">Privacy</a>
      </div>
      <div class="col-md-4">
        <p class="muted pull-right">Powered By<img src="../images/yelp.png" alt="yelp" id="yelp_image"><img src="../images/google-map.png" alt="google"></p>
        <p class="muted pull-right">© 2016 Project 3 Group. All rights reserved</p>
      </div>
    </div>
  </div>
</div>
  </footer>
</div>

<% } %>
