<div id="trips" class="pad-section">
  <div class="container">
    <h2>My Trips</h2>
    <table id="trips-table" class="table">
        <tbody>
          <tr>
            <th scope="row"></th>
            <td id="origin-dest"></td>
            <td id="tripdate"></td>
            <td><a href=""><img src="/images/icons/x-mark-3-32.png" alt=""></a></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
