<div id="trips" class="pad-section">
  <div class="container">
    <h2 id="trips-header">My Trips</h2>
    <table id="trips-table" class="table">
        <tbody id="trips-body">
        </tbody>
    </table>
  </div>
</div>
