<div id="home" class="parallax">

  <div class="text-vcenter">

    <div id="frame-top"></div>
    <h1>Tripific</h1>
    <div id="frame-bottom"></div>

    <h3>Road Trip Concierge</h3>

    <a href="#" class="btn btn-default btn-lg">Plan a Trip</a>

  </div>

</div>
