<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Google Test</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>
<body>
<div id="inputDiv">
  <div class="row class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"">
    <ul class="right">
      <% if (user) { %>

      <a href="/logout"><img src="" alt="">Logout</a>
      <% } else { %>
      <a href="/auth/google"><img src="googlebtn.png" alt="Login with Google"></a>
      <% } %>
    </ul>
    <label class="col-sm-3">Origin:</label>
    <input class="col-md-4" type="text" id="origin">
  </div>
  <div class="row">
    <label class="col-sm-3">Destination:</label>
    <input type="text" class="col-md-4" id="dest">
    <button type="button" class="btn btn-primary col-sm-offset-1 col-sm-1" id="goBtn">Go</button>
  </div>
</div>
<div id="map"></div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="../javascripts/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCSPeNs4RKje84chLxyLJKBdv_kf9gY7E&libraries=drawing&callback=initMap"
        async defer></script>
</body>

</html>
