#restaurant_page {
  margin: 0 auto;
  height: 100%;
  width:  100%;
  background-image: url("http://wallpapercave.com/wp/ZDRooQC.jpg");
  background-size: cover;
}

#restaurant_filter {
  height: 80%;
  width: 30%;
  margin-left: 3%;
  margin-top: 5%;
}

#restaurant_list {
  height: 100%;
  width: 65%;
  margin-top: 10%;
}

a.list-group-item {
  margin: 10px;
}

#price_selection {
  width: 300px;
}

#restaurant_page_nav {
  width: 30%;
}
