#route_partial {
  margin: 0 auto;
  /*border: 1px solid black;*/
  height: 100%;
  width:  100%;
  background-image: url("http://wallpapercave.com/wp/ZDRooQC.jpg");
  background-size: cover;
}

#map {
  width: 95%;
  height: 90%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 30px;
  border:5px solid gray;
}

#map_container {
  width: 70%;
  height: 100%;
  /*border: 1px solid black;*/
}

#info_container {
  margin-left: 30px;
  width: 26%;
  height: 500px;
/*  border: 1px solid black;*/
}

div#route_info {
  width: 95%;
  height: 500px;
  /*border: 1px solid red;*/
  margin: 0 auto;
  margin-top: 50%
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.parallax {
  background-image: url("/images/road.jpg");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .9;
}

#logout {
  border-color: #F7F7EF;
  color: #F7F7EF;
  background-color: none;
  align-self: right;
}

#tripific {
  font-size: 62px;
  letter-spacing: 2px;
  font-family: 'Shrikhand', sans-serif;
  color: #FBF3E6;
  text-shadow: 2px 2px #B2B5BE;
}

#home-text {
  font-family: 'Oxygen', sans-serif;
  color: #F7F7EF;
  text-align: center;
  margin-top: 180px;
}

#btn-start {
  background-color: #13BB7E;
  color: #F7F7EF;
  margin-top: 35px;
  box-shadow: 1px 1px 1px #888888;
}

#about {
  background-color: #181818;
  color: #F7F7EF;
  height: 300px;
}

.columns {
  margin-bottom: 25px;
}

.icons {
  margin-bottom: 25px;
}

#about-text {
  margin-top: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
