#route_partial {
  margin: 0 auto;
  border: 1px solid black;
  width: 90%;
}
#map {
  width: 95%;
  height: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

#map_container {
  width: 70%;
  height: 500px;
  border: 1px solid black;
}

#info_container {
  margin-left: 30px;
  width: 26%;
  height: 500px;
  border: 1px solid black;
}

div#route_info {
  width: 95%;
  height: 500px;
  border: 1px solid red;
  margin: 0 auto;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div#inputDiv {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
  width: 500px;
}

ul {
  list-style-type: none;
}
