#autocomplete {
  width: 100%;
  height: 25px;
}

#route_partial {
  margin: 0 auto;
  /*border: 1px solid black;*/
  height: 100%;
  width:  100%;
  background-image: url("http://cdn.wonderfulengineering.com/wp-content/uploads/2016/01/California-Wallpaper-34.jpg");
  background-size: cover;
}

#map div .gm-style {
    border-radius: 30px;
}


#map {
  width: 95%;
  height: 450px;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 30px;
  border:3px solid #fefefe;
}

#map_container {
  width: 70%;
  height: 80%;
  margin-top: 70px;
  /*border: 1px solid black;*/
}

#info_container {
  margin-top: -115px;
  width: 30%;
  height: 70%;
  margin-bottom: 10px;
}

#directions {
 font-family: 'Oxygen', sans-serif;
 font-style: italic;
 color: #F2EDDA ;
 font-size: 16px;
 text-align: center;
 /*padding: 5px;*/
 width: 100%;
}

#trips-btn-2 {
 margin-right: 133px;
 border-color: #F7F7EF ;
 color: #F7F7EF ;
 background-color: none;
}

div#route_info {
  width: 95%;
  height: 500px;
  /*border: 1px solid red;*/
  margin: 0 auto;
  margin-top: 48%
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.parallax {
  background-image: url("/images/road.jpg");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .9;
}

#google-btn {
  box-shadow: 1px 1px 1px #888888;
}

#trips-btn, #logout {
  border-color: #F7F7EF;
  color: #F7F7EF;
  background-color: none;
  align-self: right;
  padding: -25px;
  margin-left: -70px;
}

#trips-btn {
  margin-right: 155px;
  margin-top: -93px;
}

#tripific {
  font-size: 62px;
  letter-spacing: 2px;
  font-family: 'Shrikhand', sans-serif;
  color: #FBF3E6;
  text-shadow: 2px 2px #B2B5BE;
}

#home-text {
  font-family: 'Oxygen', sans-serif;
  color: #F7F7EF;
  text-align: center;
  margin-top: 180px;
}

#btn-start {
  background-color: #13BB7E;
  color: #F7F7EF;
  margin-top: 35px;
  box-shadow: 1px 1px 1px #888888;
}

#header {
  margin-left: 80%;
}

#logout {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 20%;
}

#route_info .well {
    min-height: 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    position: relative;
    text-align: left;
    width: 100%;
    color: #E4B100;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: rgba(0, 0, 0, .5);
    border: 3px solid #e4e4e4;
    height: 450px;
    border-radius: 30px;
    margin-left: -30px;
}

#trips-btn2 {
  width:80%;
  height:10%;
  font-size: 20px;
  border-color: #F7F7EF;
  color: #F7F7EF;
  background-color: none;
  margin-left: 23px;
  display: inline-block;

}

/*About/Info View*/

#about {
  background-color: #181818;
  color: #F7F7EF;
  height: 300px;
}

.columns {
  margin-bottom: 25px;
}

.icons {
  margin-bottom: 25px;
}

#about-text {
  margin-top: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

/*Media Queries*/
/*@media only screen and (max-width:1450px) {
#header {
  margin-left: 70%;
  vertical-align: middle;
 }
#map_container {
  width: 70%;
  height: 60%;
  margin-top: 70px;
 }
 #route_info .well {
    /* margin-top: -180px; */
 /*   margin-left: 100px;
    width: 257%;
    height: 89%;
}
}*/
@media only screen and (max-width:1350px) {
#header {
  margin-left: 70%;
  vertical-align: middle;
 }
#info_container {
    margin-top: -58px;
    width: 30%;
    height: 84%;
    margin-bottom: 11px;
  /*  margin-left: 10px;*/
}
/*#route_info .well {
    /* margin-top: -180px; */
/*    margin-left: 100px;
    width: 257%;
    height: 89%;
}*/
#map_container {
  width: 70%;
  height: 60%;
  margin-top: 70px;
 }
}

@media only screen and (max-width:1000px) {
.table {
  text-align: left;
}

/*Route View*/

#map {
  height: 80%;
  width: 146%;

 }
#route_info .well {
  margin-top: -180px;
  margin-left: 100px;
  width: 257%;
  height: 75%;
 }
#map_container {
  width: 70%;
  height: 50%;
  margin-top: 70px;
 }
}
