/*'Start' View*/

#start {
  height: 800px;
  background-image: url("/images/start_night2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .9;
}

div#inputDiv {
  position: relative;
  padding-right: 250px;
  padding-top: 170px;
  text-align: right;
  width: 500px;
  color: #E4B100;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  background-color:rgba(0, 0, 0, .3);
}

#origin-row {
  margin-bottom: 25px;
  width: 200%;
  height: 200%;
}

#origin {
  background-color:rgba(0, 0, 0, .9);
  height:50px;
  width: 300px;
}

#dest {
  background-color:rgba(0, 0, 0, .9);
  height:50px;
  width: 300px;
}

#dt-picker {
  margin-top: 25px;
  background-color:rgba(0, 0, 0, .9);
  height:50px;
  width: 300px;
  color: #B1B1B1;
}

#dt-label {
  margin-top: 25px;
}

#destination-row {
  width: 200%;
  height: 200%;
}

#goBtn {
  background-color: #13BB7E;
  color: #F7F7EF;
  margin-top: 35px;
  text-align: center;
  width: 100px;
  margin-right: 150px;
}

/*Trips View*/

#trips {
  background-color: #181818;
  color: #F7F7EF;
  height: 600px;
}

#trips-table {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  color: #F7F7EF;
}

#trips-header {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
}

/*Itinerary View*/

#itinerary-body {
  font-family: 'Lato', sans-serif;
}

header {
  text-align: center;
}

#itinerary-logo {
  text-align: left;
  margin-left: 10px;
  font-size: 42px;
  letter-spacing: 2px;
  font-family: 'Shrikhand', sans-serif;
  text-shadow: 2px 2px #B2B5BE;
}

#itinerary-logo2 {
  text-decoration: none;
  color: #373742;
}

#itinerary-table {
  width: 50%;
  margin: 0 auto;
}

#i-btn {
  border-color: #F7F7EF;
  color: #F7F7EF;
  background-color: none;
  align-self: right;
}

